#zfbAccount,#ylAccount{
    /*width:400px;*/
}
#cashAmount,#ylCashAmount{
    width:320px;
    padding: 9px 11px 9px 28px;
}
#zfbPayNext,#ylPayNext{
    margin-left: 90px;
    width:165px;
    height:48px;
    background-size:165px 48px;
    line-height: 48px;
}
#zfbPayContent .icon-rmb,#ylPayContent .icon-rmb{
    position: absolute;
    left: 10px;
    top: 10px;
}
#ylPayContent .note{
    clear: both;
    position: relative;
    left: 100px;
}
